.main__card {
    display: flex;
    padding: 24px;
    margin: 30px 12px 40px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 16px;
    box-shadow: 0px 7px 34px 0px rgba(0, 0, 0, 0.08);
    height: fit-content;
}

.main__card__title {
    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.4px;
}

.main__card__subtitle {
    color: rgba(0, 0, 0, 0.40);
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.14px;
    margin-top: 4px;
}

.main__card__page {
    display: flex;
    align-self: center;

}

.main__card__buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.main__card__button {
    border-radius: 12px;
    border: 2px solid #9FE870;
    box-shadow: 0px 7px 34px 0px rgba(22, 51, 0, 0.10);
    display: flex;
    padding: 16px 26px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.16px;
    background: #FFF;
    margin-top: 4px;
}

.main__card__button-disabled {
    pointer-events: none;
    opacity: 0.5;
}
