<template>
    <div>
        <button @click="clean" class="main__card__button">Clean</button>
        <div class="main__columns">
            <div>
                <draggable style="min-height: 500px;"  :list="currentArray" group="posts">
                    <post-card v-for="post in currentArray" :post="post" :key="post.id"/>
                </draggable>
                <div class="main__card__buttons">
                    <div class="main__card__subtitle main__card__page">Страница: {{page}}</div>
                    <button v-if="page>1" @click="pagination('prev')" class="main__card__button">Назад</button>
                    <button v-if="page<pages" @click="pagination('next')"  class="main__card__button">Вперед</button>
                </div>
            </div>
            <div >
                <draggable  :list="myPosts" group="posts" style="min-height: 100vh;">
                    <post-card v-for="post in myPosts" :post="post" :key="post.id"/>
                </draggable>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import axios from "axios";
import PostCard from "./PostCard.vue";
import draggable from 'vuedraggable'


const AllPostsProperties = Vue.extend({
    watch: {
        'myPosts': function (val) {
            let newData = [];

            this.postsByPages.forEach((x)=> {
                newData = newData.concat(x);
            });

            this.allPosts = newData;
            this.dropArray(newData);

            localStorage.setItem('myPosts', JSON.stringify(val));
            localStorage.setItem('postsByPages',  JSON.stringify(this.postsByPages));
        },
    }
})

@Component({
    components: {PostCard, draggable}
})
export default class PostsColumns extends AllPostsProperties {
    allPosts = [];
    myPosts = [];
    postsByPages = [];
    page = 1;
    pages = 1;
    myPostsLocal = null;
    allPostsLocal = null;

    mounted() {
        this.getData();
    }

    get currentArray() {
        return this.postsByPages[this.page-1];
    }

    set currentArray(value) {
        this.postsByPages[this.page-1] = value;
    }

    async getData() {
        this.myPostsLocal = JSON.parse(localStorage.getItem('myPosts'));
        this.allPostsLocal = JSON.parse(localStorage.getItem('postsByPages'));
        let noResponse = this.myPostsLocal && this.allPostsLocal;
        if (!noResponse) {
            const {data} = await axios.get('https://jsonplaceholder.typicode.com/posts');
            this.allPosts = data;
            this.dropArray(data);
        } else {
            this.postsByPages = this.allPostsLocal;
            this.myPosts = this.myPostsLocal;
        }

    }

    clean() {
        localStorage.clear();
        window.location.reload();
    }

    dropArray(array) {
        let subarray = [];
        for (let i = 0; i <Math.ceil(array.length/10); i++){
            subarray[i] = array.slice((i*10), (i*10) + 10);
        }
        this.postsByPages = subarray
        this.pages = this.postsByPages.length
    }

    pagination(action) {
        action==='prev'? this.page -- : this.page++;
    }
}
</script>

<style lang="scss" scoped>
@import "./styles/PostsColumns";
</style>
