<template>
    <div>
        <div class="main__card">
            <div class="main__card__title">{{props.post.id}} - {{props.post.title}}</div>
            <div class="main__card__subtitle">{{props.post.body}}</div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

const CardProp = Vue.extend({
    props: {
        post: Object
    }
})


@Component({})
export default class PostCard extends CardProp {
    get props() {
        return this.$props
    }
}
</script>

<style lang="scss" scoped>
@import "./styles/PostCard.css";
</style>
